/* line 5, ../sass/style.scss */
body {
  background-color: #FFF;
}

/* line 8, ../sass/style.scss */
svg {
  max-width: 95%;
  max-height: 95%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
